*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainproduct{
    margin-left: 100px;
    width: 900px; 
    background-color: white;

}
.product{
   
    display: inline-block;
    width: 200px;
    margin:0 2px 20px 2px ;
    border: 2px black solid;
}
.mainproduct h1{
    color: black;
    margin: 10px;
}
.mainproduct h2{
    color: black;
    margin: 5px;
}
.mainproduct p{
    color :#B197FC;
    margin-bottom: 5px;
}
.addto
{
width: 70%;
height: 30px;
margin: 10px 2px 10px 5px;
border: #B197FC solid 2px;
background-color: #B197FC;
}
.favorite
{
width: 20%;
height: 30px;
margin: 10px 5px 10px 2px;
border: #B197FC solid 2px;
background-color: white;
}
.maincost{
    width: 5px;
    height: 5px;
    color: red;
    font-size: 70%;
}
.cost{
    color: green;
}
img{
    padding:5px;
    width: 100%;
}